@inherits AlloyDemo.Views.AlloyPageBase<PageViewModel<AlloyDemo.Models.Pages.StartPage>>

<div class="start">
    <section class="flex flex-wrap gap-4" epi-property="@Model.CurrentPage.MainContentArea">
        <div epi-property-item class="block" epi-on-item-rendered="OnItemRendered" />
    </section>
</div>
