@model IPageViewModel<SitePageData>

@{ Layout = "~/Views/Shared/Layouts/_Root.cshtml"; }

@{await Html.RenderPartialAsync("Breadcrumbs", Model);}

<section>
    <div class="hidden lg:flex w-1/4 aside">
        @{await Html.RenderPartialAsync("SubNavigation", Model);}
        @RenderSection("RelatedContent", false)
    </div>

    <div class="w-full lg:w-3/4">
        @RenderBody()
    </div>
</section>
